requests>=2.31,<3
pydantic>=2.6,<3
python-dotenv>=1.0,<2

# dev/test only
pytest>=8,<9
pytest-mock>=3.14,<4
responses>=0.25,<1

# notebook/EDA only
pandas>=2.2,<3

# MLOps
dvc[s3,gdrive]==3.67.1
pyopenssl==24.2.1
cryptography==43.0.3